{% extends "base.html" %}

{% block header %}
    <h3 class="flex items-center px-6 text-2xl font-semibold dark:text-white">
        {% block title %}Log new flight(s){% endblock %}
    </h3>
{% endblock %}

{% block content %}
    <form class="max-w-sm mx-auto" method="post">
        <div class="mb-5">
            <label for="date" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Date</label>
            <input type="date" id="date" name="date" value="{{ today }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>

        <div class="mb-5">
            <label for="amount" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Number of flights</label>
            <input type="number" id="amount" name="amount" min="1" value="1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>

        <div class="mb-5">
            <label for="wing" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Wing</label>
            <select id="wing" name="wing" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for wing in wings %}
                    <option value="{{ wing['id'] }}">{{ wing['manufacturer'] }} {{ wing['type'] }} {{ wing['size_designator'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-5">
            <label for="launch_site" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Launch site</label>
            <select id="launch_site" name="launch_site" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for launch_site in launch_sites %}
                    <option value="{{ launch_site['id'] }}">{{ launch_site['name'] }}, {{ launch_site['country'] }} - {{ launch_site['elevation'] }}m</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-5">
            <label for="landing_site" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Landing site</label>
            <select id="landing_site" name="landing_site" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for landing_site in landing_sites %}
                    <option value="{{ landing_site['id'] }}">{{ landing_site['name'] }}, {{ landing_site['country'] }} - {{ landing_site['elevation'] }}m</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-5">
            <label for="flight_type" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Flight type</label>
            <select id="flight_type" name="flight_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for flight_type in flight_types %}
                    <option value="{{ flight_type['id'] }}">{{ flight_type['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="flex items-center mb-4">
            <input type="checkbox" id="hike_and_fly" name="hike_and_fly" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="hike_and_fly" class="ms-2 text-lg font-semibold text-gray-900 dark:text-gray-300">Hike&amp;Fly</label>
        </div>

        <div class="flex items-center mb-4">
            <input type="checkbox" id="with_skies" name="with_skies" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="with_skies" class="ms-2 text-lg font-semibold text-gray-900 dark:text-gray-300">Ski</label>
        </div>

        <div class="mb-5">
            <label for="duration" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Duration [minutes]</label>
            <input type="text" id="duration" name="duration" required pattern="^[0-9]*$" value="0" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>

        <div class="mb-5">
            <label for="comment" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Comment</label>
            <input type="text" id="comment" name="comment" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>

        <div class="mb-5 py-4 text-center">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-60 sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
        </div>
    </form>
{% endblock %}