{% extends 'base.html' %}

{% block header %}
    <h3 class="flex items-center px-6 text-2xl font-semibold dark:text-white">
        {% block title %}Overview{% endblock %}
        <span class="bg-blue-100 text-sm text-blue-800 font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-2">
            <form action="{{ url_for('flight.create') }}">
                <input type="submit" value="Log new flight(s)" class="cursor-pointer">
            </form>
        </span>
    </h3>
{% endblock %}

{% block content %}
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption></caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">No.</th>
                <th scope="col" class="px-6 py-3">Date</th>
                <th scope="col" class="px-6 py-3">Wing</th>
                <th scope="col" class="px-6 py-3">Launch</th>
                <th scope="col" class="px-6 py-3">Landing</th>
                <th scope="col" class="px-6 py-3">Descent</th>
                <th scope="col" class="px-6 py-3">Duration</th>
                <th scope="col" class="px-6 py-3">Type</th>
                <th scope="col" class="px-6 py-3 text-center">Hike&amp;Fly</th>
                <th scope="col" class="px-6 py-3 text-center">Ski</th>
                <th scope="col" class="px-6 py-3">Comment</th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ flight["flight_no"] }}</td>
                    <td class="px-6 py-4">{{ flight["date"] }}</td>
                    <td class="px-6 py-4">{{ flight["wing_manufacturer"] }} {{ flight["wing_name"] }} {{ flight["wing_size"] }}</td>
                    <td class="px-6 py-4">{{ flight["launch_site"] }}</td>
                    <td class="px-6 py-4">{{ flight["landing_site"] }}</td>
                    <td class="px-6 py-4">{{ flight["descent"] }}m</td>
                    {% if flight["duration"] %}
                        <td class="px-6 py-4">{{ flight["duration"] }}</td>
                    {% else %}
                        <td  class="px-6 py-4 text-center">-</td>
                    {% endif %}
                    <td class="px-6 py-4">{{ flight["flight_type"] }}</td>
                    <td class="px-6 py-4 text-center">{% if flight["hike_and_fly"] == 1 %}&#10003;{% endif %}</td>
                    <td  class="px-6 py-4 text-center">{% if flight["with_skies"] == 1 %}&#10003;{% endif %}</td>
                    <td>{{ flight["comment"] }}</td>
                    <td class="px-6 py-4"><form action="{{ url_for('flight.update', id=flight['id'])}}"><input type="submit" value="Edit" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 cursor-pointer"></form></td>
                </tr>     
            {% endfor %}
        </tbody>
    </table>
    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing <span class="font-semibold text-gray-900 dark:text-white">{{ first_item_no }}-{{ last_item_no }}</span> of <span class="font-semibold text-gray-900 dark:text-white">{{ total_items }}</span></span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
            <li>
            {% if current_page != 1 %}
                <a href="{{ url_for('flight.index', page=(current_page-1), **other_params)}}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
            {% else %}
                <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-100 bg-white border border-gray-300 rounded-s-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-700">Previous</a>
            {% endif %}
            </li>
            {% for i in range([1,current_page-4] | max, [total_pages+1,current_page+5] | min) %}
                <li>
                {% if i != current_page %}
                    <a href="{{ url_for('flight.index', page=i, **other_params)}}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ i }}</a>
                {% else %}
                    <a href="{{ url_for('flight.index', page=i, **other_params)}}" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ i }}</a>
                {% endif %}
                </li>
            {% endfor %}
            <li>
            {% if current_page != total_pages %}
                <a href="{{ url_for('flight.index', page=(current_page+1), **other_params)}}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
            {% else %}    
                <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-100 bg-white border border-gray-300 rounded-e-lg  dark:bg-gray-800 dark:border-gray-700 dark:text-gray-700">Next</a>
            {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}