{% extends "base.html" %}

{% block header %}
    <h3 class="flex items-center text-2xl font-semibold dark:text-white">
        {% block title %}Edit wing{% endblock %}
    </h3>
{% endblock %}

{% block content %}
    <form class="max-w-sm mx-auto" method="post">
        <div class="mb-5">
            <label for="wing_type_id" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Type</label>
            <select id="wing_type_id" name="wing_type_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for type in types %}
                    {% if type['id'] == wing['wing_type_id'] %}
                        <option value="{{ type['id'] }}" selected>{{ type["manufacturer"] }} {{ type["name"] }}</option>
                    {% else %}
                        <option value="{{ type['id'] }}">{{ type["manufacturer"] }} {{ type["name"] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-5">
            <label for="size" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Size</label>
            <input type="text" id="size" name="size" value="{{ request.form['size'] or wing['size_designator'] }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>

        <div class="mb-5">
            <label for="projected_area" class="block mb-2 text-lg font-semibold text-gray-900 dark:text-white">Projected area [m²]</label>
            <input type="number" id="projected_area" name="projected_area" value="{{ request.form['projected_area'] or wing['size_projected_sqm'] }}" min="0" step="0.01" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>

        <div class="mb-5 py-4 text-center">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-60 sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
        </div>
    </form>

    {% if can_delete %}
        <form action="{{ url_for('wing.delete', id=wing['id']) }}" class="max-w-sm mx-auto" method="post">
            <div class="mb-5 py-4 text-center">
                <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-60 sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Delete</button>
            </div>
        </form>
    {% endif %}
{% endblock %}