{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Manage countries{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <caption></caption>
        <tr>
            <th>Name</th>
            <th>Shorty</th>
            <th>Total flights</th>
        </tr>
        {% for country in countries %}
            <tr>
                <td>{{ country['name'] }}</td>
                <td>{{ country['shorty'] }}</td>
                <td>{{ country['total_flights'] }}</td>
            </tr>     
        {% endfor %}
    </table>

    <form action="{{ url_for('country.create') }}">
        <input type="submit" value="Create new country">
    </form>
{% endblock %}